#canvas {
  background-color: rgba(255,255,255,1);
  margin: 3%;
  border-color: rgba(0,0,0,1);
  border: solid;
  border-width: 2px;
  width: 90%;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/**************************************
                NAV BAR
**************************************/
#logo {
  position: absolute;
  left: 5%;
  /* padding: 1%; */
  /* z-index: 3; */
}

.navbar {
  padding: 1%;
  /* position: absolute; */
  right: 5%;
  /* background-color: rgba(200,200,200,0.5); */
  text-align: right;
}

.sub-navbar {
  padding: 0.25%;
  background-color: #C3E6E4;
  height: 100%;
  width: 10%;
  text-align: left;
  /* margin: auto; */
  display: block;
}

.navlink {
  margin: 1%;
  padding: 1%;
  text-decoration: none;
  font-size: 14px;
  color: #6B808C;
}

.navlink:hover {
  color: #7AB6B3;
}

.navlink:focus {
  outline-color: #7AB6B3;
}

.sub-navlink {
  margin: 5%;
  padding: 3%;
  font-size: 12px;
  text-decoration: none;
  color: #2D363A;

  /* width: 200px; */
}
.secondary-nav {
  text-align: right;
  margin-right: 7%;
  font-size: 12px;
}
.secondary-navlink {
  padding: 0.7%;
  /* margin: 1%; */
  text-decoration: none;
}

.secondary-navlink:active {
  text-decoration: overline;

}
/**************************************
                BOX MODEL
**************************************/

.outer-container {
  margin-top: 2%;
  padding: 2% 5% 5% 5%;
  /* background-color: rgba(240,240,240,0.9); */
  height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.second-container {
  /* border-color: black;
  border-style: solid; */
  border-width: 2px;
  /* margin: 2%; */
  padding: 0% 2% 1% 2%;
}

.second-container ul {
  text-align: left;
}

.resume-block {
  margin: 1% 1% 3% 1%;
  padding: 1%;
  /* background-color: rgba(100,0,0,0.1); */
  min-height: 250px;
  font-size: 14px;
  line-height: 1.6;
}

.experience-block {
  padding: 0.5% 15% 0.5% 15%;
  /* margin: 0.5%; */
}

.sm-card {
  width: 28%;
  min-height: 500px;
  vertical-align: top;
  padding: 1.5%;
  margin: 1%;
  display: inline-block;
  /* background-color: rgba(240,240,240,0.9); */
}

.sm-card a {
  color: #6C9FC1;
}


.thumbnail {
  width: 95%;
  margin: 1%;
  padding: 2%;
  background-color: white;
  border-color: #FCCCC4;
  border-style: solid;
  border-width: medium;
}

.education-heading {
  /* background-color: rgba(0,200,0,0.1); */
  margin: 0.5% 1.5% 0.5% 0.5%;
  padding-right: 2%;
  width: 16%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.education-body {
  /* background-color: rgba(0,200,0,0.1); */
  margin: 0.5% 0.5% 0.5% 1%;
  width: 77%;
  display: inline-block;
  vertical-align: top;
}
